.Tags {
    background: none;
    border-radius: 1000px;
    border: 2px solid currentColor;
    margin-right: 6px;
    padding: 3px 9px;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }