.CompanyDetails-Container {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.CompanyDetails-Title {
  display: flex;
  justify-content: space-between;
}

.CompanyDetails-Description {
  padding: 20px;
  border-top: 1px solid #c1c0c0;
}

.CompanyDetails-Details {
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* BreadCrumb */
.Breadcrumbs {
  list-style: none;
  padding: 10px 16px;
  margin: 20px;
  margin-left: 300px;
}

.Breadcrumbs li {
  display: inline-block;
  font-size: 1rem;
}

.Breadcrumbs li:before {
  padding: 8px;
  color: rgb(75, 75, 75);
  content: "/\00a0";
}
.Breadcrumbs li:hover {
  color: black;
}

.Breadcrumbs li a {
  color: inherit;
}
span{
  font-family: fantasy
}
